---
layout: default
---

<section class="swiper-js-container background-image-holder">
                        <div class="swiper-container" data-swiper-autoplay="false" data-swiper-effect="slide" data-swiper-items="0" data-swiper-space-between="0">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="holder-item holder-item-light has-bg-cover bg-size-cover" style="padding-bottom: 260px; background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1508308251/payment-terminal_ffzrvq.jpg); background-position: bottom center;">
                                        <span class="mask mask-base-1--style-2 alpha-6"></span>
                                        <div class="container container-lg slice--offset-top d-flex align-items-center mt-5">
                                            <div class="col px-0 mt-5">
                                                <div class="row cols-xs-space cols-sm-space cols-md-space mt-5">
                                                    <div class="col-lg-7 text-center text-lg-left align-self-center">
                                                        <h2 class="heading heading-xl strong-600 text-normal line-height-1_2 animated mt-3" data-animation-in="fadeInDownBig" data-animation-delay="200">
                                                           Secure And Scale Your Business With Everpay
                                                        </h2>
                                                        <p class="lead animated mt-4" data-animation-in="fadeInUpBig" data-animation-delay="200">
                                                            Everpay is an open payments company, focusing on simplifying payments and unifing big commerce under one single secure source.
                                                        </p>

                                                        <a href="#" target="_blank" class="btn btn-styled btn-lg btn-white btn-circle btn-outline mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1000" data-scroll-to="#sct_what_we_do">
                                                            See what we do
                                            </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <!-- <div class="shape-container" data-shape-fill="sct-color-1" data-shape-position="bottom" style="height: 325px;">
                                <svg class="shape-item" fill="" viewBox="0 0 1000 300" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M 0 246.131 C 0 246.131 31.631 250.035 47.487 249.429 C 65.149 248.755 82.784 245.945 99.944 241.732 C 184.214 221.045 222.601 171.885 309.221 166.413 C 369.892 162.581 514.918 201.709 573.164 201.709 C 714.375 201.709 772.023 48.574 910.547 21.276 C 939.811 15.509 1000 24.025 1000 24.025 L 1000 300.559 L -0.002 300.559 L 0 246.131 Z" />

                                </svg>
                            </div>-->
                        </div>
                    </section>
                    
                    <section class="slice-md sct-color-1" id="sct_what_we_do">
                        <div class="container mt-5">
                
                            <div class="section-title section-title--style-1 text-center mb-2 animate-on-scroll fadeInDown mt-5">
                                <h1 class="heading heading-1 c-gray-light strong-600">
                                    <span>Top Reasons to Work With Us</span>
                                </h1>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <span class="space-xs-xl"></span> 
                          
<div class="row">
        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg  btn-soft-success rounded-circle mb-5">
              <span class="fab fa-yelp fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Professional Design</h3>
            <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fas fa-fire fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Front Strategy</h3>
            <p class="mb-md-0">We strive to figure out ways to help your business grow through all platforms.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fab fa-whmcs fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Unlimited Power</h3>
            <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
          </div>
        </div>
      </div>
     
<div class="row">
        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg  btn-soft-success rounded-circle mb-5">
              <span class="fab fa-yelp fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Professional Design</h3>
            <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fas fa-fire fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Front Strategy</h3>
            <p class="mb-md-0">We strive to figure out ways to help your business grow through all platforms.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fab fa-whmcs fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Unlimited Power</h3>
            <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
          </div>
        </div>
      </div>                          
<img class="img-fluid align-items-center d-md-block w-75 mx-auto mb-7" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265683/svg/components/pointer-1.svg" alt="SVG Arrow">
                          
                          
                            <div class="row cols-xs-space cols-sm-space cols-md-space align-items-center">
                                <div class="col-lg-6 order-lg-2 animate-on-scroll fadeIn" data-wow-delay="0.3s">
                                    <div class="feature feature--boxed-border floating-content float--width-200 sct-color-1 border-0 no-bg px-0">
                                        <h2 class="section-title-inner text-normal strong-600"">
                                          The Industries That We Serve
                                        </h2>
                                        <h3 class="heading heading-4 strong-600 mt-3">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta.
                                        </h3>
                                                                                     
                                <div class="fluid-paragraph-lg mt-4 c-gray-light strong-300 text-left animate-on-scroll fadeInDown" data-wow-delay="0.3s">
                                Start building fast, beautiful and modern looking websites in no time using our theme.
                            </div>
   
    <a href="#" class="btn btn-styled btn-base-3 btn-circle mt-5">Learn more</a>
                                                                 
                                    </div>
                                </div>
                              
                               <div class="col-lg-6 order-lg-1 animate-on-scroll fadeIn">
                                    <div class="block block-image-holder">
                                        <div class="block-image">
                                            <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1485938918/Mobile_v8dffa.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </section>
<div class="sct-color-1">
                        <span class="delimiter vd--2 bg-base-1 mt-5" data-position="top"></span>
                    </div>                    
                                               
                    <section class="slice-md sct-color-1">                                                                     
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space cols-md-space align-items-right">
                                <div class="col-lg-6 order-lg-2 animate-on-scroll fadeIn">
                                    <div class="block block-image-holder">
                                        <div class="block-image">
                                            <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1491559134/device-macbook-2_dbocag.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 order-lg-1 animate-on-scroll fadeIn" data-wow-delay="0.3s">
                                    <div class="feature feature--boxed-border floating-content float--left sct-color-1 border-0 no-bg px-0">
                                        <h2 class="section-title-inner text-normal strong-600">
                                          The Services We Provide
                                        </h2>
                                        <h3 class="heading heading-4 strong-600 mt-3">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta.
                                        </h3>
                                                                                     
                                <div class="mt-2 c-gray-light strong-300 text-left animate-on-scroll fadeInDown" data-wow-delay="0.3s">
                                Start building fast, beautiful and modern looking websites in no time using our theme.
                                </div>
                                
                      <a href="#" class="btn btn-styled btn-base-3 btn-circle mt-5">Learn more</a>
                                                                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                                                                                   
<div class="sct-color-1">
 <span class="delimiter vd--2 bg-base-1 mt-5" data-position="top"></span>
 </div>    
                                                                                        
                    <section class="slice-md sct-color-1 mb-5">
                        <div class="container">
                               <div class="row cols-xs-space cols-sm-space cols-md-space align-items-center">
                                <div class="col-lg-7 order-lg-2 animate-on-scroll fadeIn" data-wow-delay="0.3s">
                                    <div class="feature feature--boxed-border floating-content float--width-200 sct-color-1 border-0 no-bg px-0">
                                        <h2 class="section-title-inner text-normal strong-600"">
                                          The Industries That We Serve
                                        </h2>
                                        <h3 class="heading heading-4 strong-600 mt-3">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta.
                                        </h3>
                                                                                     
                                <div class="fluid-paragraph-lg mt-3 c-gray-light strong-300 text-left animate-on-scroll fadeInDown" data-wow-delay="0.3s">
                                Start building fast, beautiful and modern looking websites in no time using our theme.
                            </div>
   
    <a href="#" class="btn btn-styled btn-base-3 btn-circle mt-5">Learn more</a>
                                                                 
                                    </div>
                                </div>
                              
                               <div class="col-lg-5 order-lg-1 animate-on-scroll fadeIn">
                                    <div class="block block-image-holder mb-3">
                                        <div class="block-image">
                                            <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/a_hflip,c_scale,w_424/a_0/v1457565441/hardware-mini-clover_ky2gh5.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
         <div class="sct-color-1">
<span class="space-xs-xl"></span>
 </div>                             
                          </div>
                        </div>
                    </section>                
<section class="slice-xl slice-video d-flex align-items-center" data-vide-bg="{{ site.baseurl }}/assets/videos/everpay-intro.mp4" data-vide-options="loop: true, muted: false, position: 0% 0%"><div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 0% 0%;"><video autoplay="" loop="" style="margin: auto; position: absolute; z-index: -1; top: 0%; left: 0%; transform: translate(0%, 0%); visibility: hidden; opacity: 0; width: auto; height: 602px;"><source src="../../assets/media/video/broadwaycrew.mp4" type="video/mp4"><source src="../../assets/media/video/broadwaycrew.webm" type="video/webm"><source src="../../assets/media/video/broadwaycrew.ogv" type="video/ogg"></video></div>
                        <span class="mask mask-dark--style-1 alpha-7"></span>
                        <div class="container">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 text-center">
                                        <h2 class="heading heading-responsive heading-6 c-gray-lighter text-uppercase strong-600">
                                            Ready to grow faster?
                                        </h2>
                                        <h3 class="heading heading-inverse heading-xl strong-600 mt-3 text-capitalize">Create your own experience</h3>
                                        <a href="#" class="play-video play-video-inline play-video--2 mt-4" data-fancybox="">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

  

<section class="slice-sm bg-base-1">
                        <div class="container sct-inner">
                            <div class="row align-items-center cols-md-space cols-sm-space cols-xs-space">
                                <div class="col-lg-9">
                                    <div class="text-center text-md-left">
                                        <h1 class="heading heading-4 c-base-text-1 text-normal strong-500">
                                           Everpay <sup>3</sup> delivers paymenst beyond the desktop. Get started today!
                                        </h1>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="text-center text-lg-right">
                                        <a href="#" class="btn btn-styled btn-lg btn-white btn-circle btn-outline">
                                          Get Started
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>                    

<section class="slice-xl pt-5 sct-color-1" id="why-us">
                        <div class="container">
                        
                            <div class="section-title section-title--style-1 text-center mb-2 mt-5 animate-on-scroll fadeInDown">
                                <h1 class="heading heading-1 c-gray-light strong-600">
                                    <span>What We Do The Best</span>
                                </h1>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <span class="space-xs-xl"></span>  

                            <div class="row-wrapper">
                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-6 col-sm-12 col-12">
                                        <div class="feature feature--boxed-border mt-3 feature--bg-1 z-depth-2-top animate-on-scroll fadeInLeft">
                                            <div class="icon-block icon-block--style-1-v2">
                                                <div class="block-icon text-xs-left">
                                                    <i class="icon-mouse"></i>
                                                </div>
                                                <div class="block-content">
                                                    <h3 class="heading heading-4 strong-600">Customizable within a few clicks</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                                                    </p>
                                                    <a href="#" class="link link-sm mt-3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12 col-12">
                                        <div class="feature feature--boxed-border mt-3 feature--bg-1 z-depth-2-top animate-on-scroll fadeInRight">
                                            <div class="icon-block icon-block--style-1-v2">
                                                <div class="block-icon text-xs-left">
                                                    <i class="icon-screen-tablet"></i>
                                                </div>
                                                <div class="block-content">
                                                    <h3 class="heading heading-4 strong-600">Fully responsive on any device</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                                                    </p>
                                                    <a href="#" class="link link-sm mt-3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-6 col-sm-12 col-12">
                                        <div class="feature feature--boxed-border mt-3 feature--bg-1 z-depth-2-top animate-on-scroll fadeInLeft">
                                            <div class="icon-block icon-block--style-1-v2">
                                                <div class="block-icon text-xs-left">
                                                    <i class="icon-cloud-download"></i>
                                                </div>
                                                <div class="block-content">
                                                    <h3 class="heading heading-4 strong-600">New layouts and features every month</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                                                    </p>
                                                    <a href="#" class="link link-sm mt-3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12 col-12">
                                        <div class="feature feature--boxed-border mt-3 feature--bg-1 z-depth-2-top animate-on-scroll fadeInRight">
                                            <div class="icon-block icon-block--style-1-v2">
                                                <div class="block-icon text-xs-left">
                                                    <i class="icon-like"></i>
                                                </div>
                                                <div class="block-content">
                                                    <h3 class="heading heading-4 strong-600">Built around your suggestions</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                                                    </p>
                                                    <a href="#" class="link link-sm mt-3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="clearfix"></span>
                            <span class="space-xs-xl"></span>       
                        </div>
                    </section>

<section class="pb-0">
                        <div class="row-fluid">
                            <div class="slice px-4 bg-base-1 rounded">
                                <div class="px-4 sct-inner">
                                    <div class="row justify-content-center cols-xs-space cols-sm-space cols-md-space">
                                        <div class="col-lg-7">
                                            <div class="text-center">
                                                <h1 class="heading heading-inverse heading-2 text-normal strong-400 ">
                                                    We don't like big words. We like to deliver great products!
                                                </h1>
                                                <p class="mt-4 text-lg line-height-1_8">
                                                    No matter you are a developer or new to web design, you will find our theme very easy to customize with an intuitive HTML markup.
                                                </p>
                                                <a href="#" class="btn btn-styled btn-white btn-circle mt-4">
                                                    Try it now!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-xl sct-color-1">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-7">
                                    <small class="heading heading-sm strong-300 text-uppercase ls-2 c-gray-light">The challenge</small>
                                    <h2 class="heading heading-1 c-base-1 strong-600 mt-3">
                                        When you possess great treasures within you and try to tell others of them, seldom are you believed.
                                    </h2>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="lead">
                                        "People need not fear the unknown if they are capable of achieving what they need and want."
                                    </p>
                                    <span class="clearfix"></span>
                                    <h6 class="heading-sm c-gray-light mt-3">Photos by Bertram Ozzie</h6>
                                </div>

                                <div class="col-lg-6 ml-lg-auto">
                                    <p class="lead">
                                        She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed equally in. Ignorant had too strictly followed.
                                    </p>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row align-items-md-center cols-xs-space cols-md-space cols-lg-space">
                                <div class="col-lg-3 col-md-6">
                                    <div class="icon-block icon-block--style-1-v5 text-center">
                                        <div class="block-icon block-icon-lg mb-0">
                                            <i class="icon-basic-heart"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-lg c-base-1">97%</h3>
                                            <h3 class="heading heading-5 strong-500">Happy clients</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="icon-block icon-block--style-1-v5 text-center">
                                        <div class="block-icon block-icon-lg mb-0">
                                            <i class="icon-basic-clockwise"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-lg c-base-1">365x7</h3>
                                            <h3 class="heading heading-5 strong-500">Customer support</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="icon-block icon-block--style-1-v5 text-center">
                                        <div class="block-icon block-icon-lg mb-0">
                                            <i class="icon-basic-webpage-multiple"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-lg c-base-1">200+</h3>
                                            <h3 class="heading heading-5 strong-500">Built-in layouts</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="icon-block icon-block--style-1-v5 text-center">
                                        <div class="block-icon block-icon-lg mb-0">
                                            <i class="icon-software-layers2"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-lg c-base-1">970</h3>
                                            <h3 class="heading heading-5 strong-500">Components &amp; Shortcodes</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
<section class="slice-lg pt-0 sct-color-1">
                        <div class="container">
                            <div class="text-center">
                                <h3 class="heading heading-2 strong-400 mb-2">
                                   Intregrations with over 1500+ partners
                                </h3>
                                <div class="fluid-paragraph">
                                    Start your big commmerce trip in no time and with no friction.
                                </div>
                            </div>

                            <div class="swiper-js-container mt-5">
                                <div class="swiper-container swiper-container-horizontal swiper-container-undefined" data-swiper-items="6" data-swiper-space-between="20" data-swiper-md-items="4" data-swiper-sm-space-between="20" data-swiper-sm-items="2" data-swiper-xs-items="2">
                                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                        <div class="swiper-slide swiper-slide-active" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="{{ site.baseurl }}/assets/images/prv/clients/brands/adobe-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-next" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="{{ site.baseurl }}/assets/images/prv/clients/brands/jquery-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="/assets/images/prv/clients/brands/sass-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="/assets/images/prv/clients/brands/github-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="/assets/images/prv/clients/brands/google-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="/assets/images/prv/clients/brands/esquire-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="/assets/images/prv/clients/brands/wordpress-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

            <section class="slice-xl bg-base-1" style="padding-top: 300px; padding-bottom: 100px;">
                        <div class="shape-container" data-shape-fill="sct-color-1" data-shape-style="opaque_waves_1" data-shape-position="top" style="height: 300px;">
                            <svg class="shape-item" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300" preserveAspectRatio="none">
                            <path d="M 1000 299 l 2 -279 c -155 -36 -310 135 -415 164 c -102.64 28.35 -149 -32 -232 -31 c -80 1 -142 53 -229 80 c -65.54 20.34 -101 15 -126 11.61 v 54.39 z"></path> <path d="M 1000 286 l 2 -252 c -157 -43 -302 144 -405 178 c -101.11 33.38 -159 -47 -242 -46 c -80 1 -145.09 54.07 -229 87 c -65.21 25.59 -104.07 16.72 -126 10.61 v 22.39 z"></path> <path d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z"></path>
                             </svg>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-8 text-center">
                                    <h2 class="heading heading-inverse heading-1 strong-600 mb-3">
                                        Let's create something wonderful together!
                                    </h2>
                                <a href="#" class="btn btn-styled btn-lg btn-white btn-outline btn-circle mt-5 mr-3">Try The Sandbox</a>
                                <a href="#" class="btn btn-styled btn-lg btn-white btn-outline btn-circle mt-5">Get Your Account</a>
                              </div>
                            </div>
                        </div>
                    </section>

                        <div class="hidden" style="display:none;">
  <h1 class="page-heading">Posts</h1>
  <section class="slice-xl sct-color-1 border-top">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center">
                                <h3 class="section-title-inner text-normal strong-600">
                                    <span>In the news</span>
                                </h3>
                            </div>

                            <div class="row cols-md-space cols-sm-space cols-xs-space">                     
                            {% for post in site.posts %}                               
                              <div class="col-lg-4">
                                    <div class="block block-image-holder image-animate-wrapper">
                                        <div class="block-image image-animate--hover">
                                            <img src="/assets/images/prv/travel/img-wide-1.jpg" class="img-fluid img-center">
                                        </div>

                                        <div class="pt-4">
                                            <span class="heading heading-xs text-uppercase strong-300">{{ post.date | date: "%b %-d, %Y" }}</span>
                                            <a href="{{ post.url | prepend: site.baseurl }}" class="heading heading-4 d-block strong-600 mt-1">{{ post.title }}</a>
                                            <p class="mt-3">
                                                When we strive to become better than we are, everything around us becomes better, too.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="text-center">
                                <a href="https://blog.everpayinc.com" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                   Go to blog
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </section>                       
                          

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
                                                                                        </div>
                                                                                        
                                                                                        
</div>
