---
layout: default
---

 {% include jumbrotron-landing.html %}

 <section class="slice-lg pt-0 sct-color-1">
                        <div class="container">
                            <div class="swiper-js-container mt-2">
                                <div class="swiper-container swiper-container-horizontal swiper-container-undefined" data-swiper-items="6" data-swiper-space-between="20" data-swiper-md-items="4" data-swiper-sm-space-between="20" data-swiper-sm-items="2" data-swiper-xs-items="2">
                                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                        <div class="swiper-slide swiper-slide-active" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265499/paypal_yuvfsh.svg" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-next" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265500/shopify_enz6yh.svg" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="{{ site.baseurl }}/assets/images/prv/clients/brands/sass-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="{{ site.baseurl }}/assets/images/prv/clients/brands/github-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="{{ site.baseurl }}/assets/images/prv/clients/brands/google-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/e_grayscale/v1457416686/worldpay_dfi53v.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 168.333px; margin-right: 20px;">
                                            <div class="client-logo client-logo--style-3">
                                                <img src="{{ site.baseurl }}/assets/images/prv/clients/brands/wordpress-258x116.png" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>                   

                    <section class="slice-md sct-color-1" id="sct_what_we_do">
                        <div class="container">
                
                            <div class="section-title section-title--style-1 text-center mb-2 animate-on-scroll fadeInDown">
                                <h1 class="heading heading-1 c-gray-light strong-600 mt-3">
                                    <span>Why Go Everpay</span>
                                </h1>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix mt-5"></span>

                          
<div class="row mt-3">
        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fas fa-credit-card fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Personalized Payments</h3>
            <p class="mb-md-0">With simple integrations, your business can accept payments in 50+ currencies and in over 25 countries.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fas fa-microchip fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Leading Industry Expertise</h3>
            <p class="mb-md-0">We have a payment solution for every type of business in every industry.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fas fa-code-branch fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Processor Agnostic</h3>
            <p class="mb-md-0">Everpay is certified with nearly all major payment processing organizations world wide. </p>
          </div>
        </div>
      </div>
     
<div class="row mb-5">
        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg  btn-soft-success rounded-circle mb-5">
              <span class="fas fa-chart-line fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">EMV-Ready Devices </h3>
            <p class="mb-md-0">Everpay provides the tools to make integrated EMV card processing a breeze.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fas fa-shield-alt fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Security First Thinking</h3>
            <p class="mb-md-0">Help detect and prevent fraudulent transactions while accepting more orders.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7 mt-5">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
              <span class="fas fa-money-check-alt fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Business Credit</h3>
            <p class="mb-md-0">Flexible financing programs for all business types.</p>
          </div>
        </div>
      </div>                          
<img class="img-fluid align-items-center d-md-block w-75 mx-auto mb-7" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265683/svg/components/pointer-1.svg" alt=""> 
  
        </div>
      </div>
</section>

<section class="pb-0 mt-3">
                        <div class="row-fluid">
                            <div class="slice px-4 bg-base-5 rounded">
                                <div class="px-4 sct-inner">
                                    <div class="row justify-content-center cols-xs-space cols-sm-space cols-md-space">
                                        <div class="col-lg-7">
                                            <div class="text-center">
                                                <h1 class="heading heading heading-2 text-normal strong-400">
                                                   Get the right payment solution for your business
                                                </h1>
                                                <p class="mt-4 text-lg line-height-1_8">
                                                Our range of industry-leading payment products and services can help support your business as it grows, though every stage.
                                                </p>
                                                <a href="//id.everpayinc.com/signup" class="btn btn-styled btn-soft-success btn-circle mt-4">
                                                    Get Started
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</section>             

 <section class="slice-md sct-color-1" id="sct_what_we_do">
                        <div class="container">
                
                            <div class="section-title section-title--style-1 text-center mb-2 animate-on-scroll fadeInDown">
                                <h1 class="heading heading-1 c-gray-light strong-600 mt-5">
                                    <span>What Makes Us Different</span>
                                </h1>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix mt-5"></span>

            </div>
</section>                 
                   
<section class="slice-xl slice-video d-flex align-items-centerhidden" style="display:none;" data-vide-bg="{{ site.baseurl }}/assets/videos/everpay-intro.mp4" data-vide-options="loop: true, muted: false, position: 0% 0%"><div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 0% 0%;"><video autoplay="" loop="" style="margin: auto; position: absolute; z-index: -1; top: 0%; left: 0%; transform: translate(0%, 0%); visibility: hidden; opacity: 0; width: auto; height: 602px;"><source src="../../assets/media/video/broadwaycrew.mp4" type="video/mp4"><source src="../../assets/media/video/broadwaycrew.webm" type="video/webm"><source src="../../assets/media/video/broadwaycrew.ogv" type="video/ogg"></video></div>
                        <span class="mask mask-dark--style-1 alpha-7"></span>
                        <div class="container">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 text-center">
                                        <h2 class="heading heading-responsive heading-6 c-gray-lighter text-uppercase strong-600">
                                            Ready to grow faster?
                                        </h2>
                                        <h3 class="heading heading-inverse heading-xl strong-600 mt-3 text-capitalize">Create your own experience</h3>
                                        <a href="#" class="play-video play-video-inline play-video--2 mt-4" data-fancybox="">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

  

<section class="slice-sm bg-base-1 mt-5">
                        <div class="container sct-inner ">
                            <div class="row align-items-center cols-md-space cols-sm-space cols-xs-space">
                                <div class="col-lg-9">
                                    <div class="text-center text-md-left">
                                        <h1 class="heading heading-4 c-base-text-1 text-normal strong-500">
                                           Everpay delivers payments beyond the desktop. Get started today!
                                        </h1>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="text-center text-lg-right">
                                        <a href="#" class="btn btn-styled btn-lg btn-white btn-circle btn-outline">
                                          Get Started
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>                    


            <section class="slice-xl bg-base-1" style="padding-top: 100px; padding-bottom: 100px;">
                       
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-8 text-center">
                                    <h2 class="heading heading-inverse heading-1 strong-600 mb-3">
                                        Let's create something wonderful together!
                                    </h2>
                                <a href="#" class="btn btn-styled btn-lg btn-white btn-outline btn-circle mt-5 mr-3">Contact Sales</a>
                                <a href="#" class="btn btn-styled btn-lg btn-white btn-outline btn-circle mt-5">Get Started</a>
                              </div>
                            </div>
                        </div>
                    </section>

                        <div class="hidden" style="display:none;">
  <h1 class="page-heading">Posts</h1>
  <section class="slice-xl sct-color-1 border-top">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center">
                                <h3 class="section-title-inner text-normal strong-600">
                                    <span>In the news</span>
                                </h3>
                            </div>

                            <div class="row cols-md-space cols-sm-space cols-xs-space">                     
                            {% for post in site.posts %}                               
                              <div class="col-lg-4">
                                    <div class="block block-image-holder image-animate-wrapper">
                                        <div class="block-image image-animate--hover">
                                            <img src="/assets/images/prv/travel/img-wide-1.jpg" class="img-fluid img-center">
                                        </div>

                                        <div class="pt-4">
                                            <span class="heading heading-xs text-uppercase strong-300">{{ post.date | date: "%b %-d, %Y" }}</span>
                                            <a href="{{ post.url | prepend: site.baseurl }}" class="heading heading-4 d-block strong-600 mt-1">{{ post.title }}</a>
                                            <p class="mt-3">
                                                When we strive to become better than we are, everything around us becomes better, too.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="text-center">
                                <a href="https://blog.everpayinc.com" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                   Go to blog
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </section>                       
                          

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
                                                                                        </div>
                                                                                        
                                                                                        
</div>
