 <footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container container-lg">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1496853370/Everpay-small-logo-grey_xhq1zs.png" class="logo-delimiter">
                        <span class="clearfix mt-2"></span>
                        <span class="heading heading-sm c-gray-light strong-400">One Company. Infinite solutions.</span>
                        <p class="mt-2">
                           Everpay is an innovative open payments provider that specializes in advanced Fintech and personalized commerce solutions.  Headquartered in Canada, Everpay provides businesses with multi-currency payment solutions, POS devices, tokenization services, PCI validated Point to Point Encryption solutions and other industry leading fraud prevention technologies.
                        </p>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                       <h2 class="heading heading-xs mb-1">
                         Why Us
                       </h2>

                       <ul class="footer-links mt-2">
                            <li><a href="{{ site.baseurl }}/industry-types/" title="Industries">Industries Served</a></li>
                            <li><a href="{{ site.baseurl }}/payment-solutions/" title="Solutions">Services &amp Solutions</a></li>
                            <li><a href="{{ site.baseurl }}/compliance-security/" title="Compliance &amp Security">Compliance &amp Security</a></li>
                            <li><a href="{{ site.baseurl }}/pricing/" title="Transparent Pricing">Transparent Pricing</a></li>
                            <li><a href="{{ site.baseurl }}/" title="Jobs">FAQ</a></li>
                        </ul>
                     </div>
                </div>
              
             <div class="col-lg-2">
                    <div class="col">
                       <h2 class="heading heading-xs mb-1">
                        What We Do
                       </h2>

                       <ul class="footer-links mt-2">
                            <li><a href="{{ site.baseurl }}/industry-types/" title="Industries">Industries Served</a></li>
                            <li><a href="{{ site.baseurl }}/payment-solutions/" title="Solutions">Services &amp Solutions</a></li>
                            <li><a href="{{ site.baseurl }}/compliance-security/" title="Compliance &amp Security">Compliance &amp Security</a></li>
                            <li><a href="{{ site.baseurl }}/pricing/" title="Transparent Pricing">Transparent Pricing</a></li>
                            <li><a href="{{ site.baseurl }}/" title="Jobs">FAQ</a></li>
                        </ul>
                     </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                        <h2 class="heading heading-xs mb-1">
                            The Company
                        </h2>

                        <ul class="footer-links mt-2">
                             <li>
                                 <a href="{{ site.baseurl }}/about/" title="About">
                                   About Us
                                 </a>
                             </li>
                             <li>
                                 <a href="{{ site.baseurl }}/contact/" title="Contact">
                                     Contact Us
                                 </a>
                             </li>
                             <li>
                                 <a href="{{ site.baseurl }}/careers/" title="Careers">
                                Jobs &amp; Careers <span class="label label-primary">We're hiring!</span>                                 
                              </a>
                             </li>
                             <li>
                                 <a href="https://blog.everpayinc.com/" title="Our Blog">
                                    Elektolite Blog
                                 </a>
                             </li>
                             <li>
                                 <a href="https://partners.everpayinc.com/" title="Partners">
                                    Partnerships
                                 </a>
                             </li>
                         </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                        <h2 class="heading heading-xs mb-1">
                            Get in touch
                        </h2>

                        <ul class="social-media social-media--style-1-v4 mt-3">
                         
                          {% if site.facebook_username %}
                            <li>
                                <a href="https://facebook.com/{{ site.facebook_username }}" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                <span class="icon  icon--facebook"> <i data-feather="facebook" class="c-white mt-2 btn-icon" stroke-width="1"></i> </span>                                   
                                </a>
                            </li>
          {% endif %}
                         
         {% if site.twitter_username %}
                            <li>
                                <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter" target="_blank" data-toggle="tooltip" data-original-title="Twitter">
        <span class="icon icon--twitter"> <i data-feather="twitter" class="c-white mt-2 btn-icon" stroke-width="1"></i> </span>                                                 
                                </a>
                            </li>
          {% endif %}
                         
          {% if site.linkedin_username %}
                            <li>
                                <a href="https://linkedin.com/{{ site.linkedin_username }}" class="linkedin" target="_blank" data-toggle="tooltip" data-original-title="Linkedin">
                           <span class="icon icon--linkedin"> <i data-feather="linkedin" class="c-white mt-2 btn-icon" stroke-width="1"></i> </span>                                    
                                </a>
                            </li>
          {% endif %}
               
          {% if site.github_username %}          
                            <li>
                                <a href="https://github.com/{{ site.github_username }}" class="github" data-no-turbolink="true" target="_blank" data-toggle="tooltip" data-original-title="Github">
                                <span class="icon icon--github"> <i data-feather="github" class="c-white mt-2 btn-icon" stroke-width="1"></i> </span>                                   
                              </a>
                            </li>
                         {% endif %}          
         
               
          {% if site.slack_username %}          
                            <li>
                                <a href="https://{{ site.slack_username }}.slack.com/" class="slack" target="_blank" data-toggle="tooltip" data-status-link-for="everpayapp" title="Visit our status page">
                                <span class="icon icon--slack"> <i data-feather="slack" class="c-white mt-2 btn-icon" stroke-width="1"></i> </span>                                   
                              </a>
                            </li>
                         {% endif %}   
                         
                     </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container container-lg">
        
<div class="row cols-xs-space cols-sm-space cols-md-space">
 
<ul class="col-lg-4 copyright">               
     <li class="col text-left">
                        Copyright © 2019 
                        <a href="javascript:void(0);" class="c-white" target="_blank">
                            <strong>Everpay</strong>
                        </a> - All rights reserved.
      </li>
 </ul>
 
<ul class="col-lg-6 col copy-links">   
  
<li class="pr-3 pl-3 text-left">
<a href="{{ site.baseurl }}/legal/terms-of-service" target="_blank">Terms of Use</a>
</li>
<li class="pr-3 pl-3 text-left">
<a href="{{ site.baseurl }}/legal/privacy-policy" target="_blank">Privacy Policy</a>
</li>
<li class="pr-3 pl-3 text-left">
<a href="{{ site.baseurl }}/legal/cookie-notification" target="_blank">Cookie Notification</a>
</li>  

<li class="pr-3 pl-3 text-left">
<a href="{{ site.baseurl }}/sitemap" target="_blank">Sitemap</a>
</li>   
  
<li class="pr-3 pl-3 text-left">
<a href="https://status.everpayinc.com/" target="_blank" data-status-link-for="everpayapp" title="Visit our status page">Status</a>
</li> 
 </ul>
 
<ul class="col-lg-2 col powered-by-links last">    
<li class="pl-3 text-center">
   <a href="https://www.elektropay.com" target="_blank"><span>Powered by</span><span><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_thumb,w_200,g_face/v1442882924/logo_qxdkvh.png" width="76"></span></a>
</li>  
</ul>                
</div>
            </div>
        </div>
    </div>
</footer>


                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->


<footer class="site-footer hidden" style="display: none">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>


      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>


<!-- SCRIPTS -->
<a href="top#" class="back-to-top btn-back-to-top"></a>

<!-- Core -->
<script src="{{ "/assets/vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/popper/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/slidebar/slidebar.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/classie.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Extensions -->
<script src="{{ "/assets/vendor/bootstrap-notify/bootstrap-growl.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/scrollpos-styler/scrollpos-styler.js" | prepend: site.baseurl }}"></script>

<!-- Plugins: Sorted A-Z -->
<script src="{{ "/assets/vendor/adaptive-backgrounds/adaptive-backgrounds.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/countdown/js/jquery.countdown.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/dropzone/dropzone.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/fancybox/js/jquery.fancybox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/flatpickr/flatpickr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/flip/flip.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/footer-reveal/footer-reveal.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/gradientify/jquery.gradientify.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/headroom/headroom.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/headroom/jquery.headroom.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/input-mask/input-mask.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/instafeed/instafeed.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/milestone-counter/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/nouislider/js/nouislider.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/paraxify/paraxify.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/select2/js/select2.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/sticky-kit/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/swiper/js/swiper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/textarea-autosize/autosize.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/typeahead/typeahead.bundle.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/typed/typed.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/vide/vide.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/viewport-checker/viewportchecker.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/wow/wow.min.js" | prepend: site.baseurl }}"></script>

<!-- Isotope -->
<script src="{{ "/assets/vendor/isotope/isotope.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script>
  feather.replace()
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20603888-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-20603888-1');
</script>

<!-- App JS -->
<script src="{{ "/assets/js/boomerang.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/everpay.min.js" | prepend: site.baseurl }}"></script>
