<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="google-site-verification" content="">
<meta name="google-analytics" content="UA-20603888-1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}" rel="icon" type="image/png">

<link rel="stylesheet" href="{{ "/assets/vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/vendor/swiper/css/swiper.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/assets/vendor/hamburgers/hamburgers.min.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/vendor/animate/animate.min.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/vendor/fancybox/css/jquery.fancybox.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.8/collection/icon/icon.css" type="text/css">
  
<link rel="stylesheet" href="{{ "/assets/fonts/line-icons/line-icons.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/fonts/line-icons-pro/line-icons-pro.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/fonts/budicon/budicon.css" | prepend: site.baseurl }}" type="text/css">
                                                                                   
<link rel="stylesheet" href="{{ "/assets/fonts/linea/arrows/linea-icons.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/fonts/linea/basic/linea-icons.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/fonts/linea/ecommerce/linea-icons.css" | prepend: site.baseurl }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/fonts/linea/software/linea-icons.css" | prepend: site.baseurl }}" type="text/css">

 <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">  
<link id="stylesheet" href="{{ "assets/css/boomerang-startup-agency.min.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet" media="screen">

<script src="https://unpkg.com/feather-icons"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">  
  
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

</head>
