 <nav class="navbar navbar-expand-lg navbar--bold  navbar-transparent navbar-inverse bg-dark ">
        <div class="container container-lg navbar-container">
                
          <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1496853334/Everpay-dark-logo_lghtzd.png" class="d-none d-lg-inline-block" alt="Everpay">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1496853334/Everpay-dark-logo_lghtzd.png" class="d-lg-none" alt="EverPay">            </a>
            
            <div class="d-inline-block">
                <!-- Navbar toggler  -->
                <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>

            <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a href="homepage-video.html#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

            <ul class="dropdown-menu">
                <li class="dropdown">
                    <a href="{{ site.baseurl }}/" class="dropdown-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Homepage</a>
                    <a href="homepage-video.html" class="dropdown-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Homepage: Video</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a href="{{ site.baseurl }}/about" class="nav-link">About us</a>
        </li>
        <li class="nav-item dropdown">
            <a href="news.html" class="nav-link">News</a>
        </li>
        <li class="nav-item dropdown">
            <a href="{{ site.baseurl }}/contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
            <a href="../../demos.html" class="nav-link">Demos</a>
        </li>
    </ul>
</div>

<div class="pl-4 d-none d-lg-inline-block">
    <a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-sm btn-base-5 text-uppercase btn-circle">
        Purchase now
        <span class="badge badge-pill bg-base-2">$23 USD</span>    </a>
</div>
        </div>
    </nav>
</div>


<header class="site-header hidden" style="display:none;">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
