<!-- Hero Section -->
<section class="js-container background-image-holder">
 <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="slide" data-swiper-items="0" data-swiper-space-between="0">
   <div class="swiper-wrapper">
      
                                <!-- Slide -->
                   <div class="swiper-slide" data-swiper-autoplay="8000">
                       <div class="holder-item holder-item-light has-bg-cover bg-size-cover slice-video d-flex align-items-center" data-vide-bg="{{ site.baseurl }}/assets/videos/everpay-intro.mp4" data-vide-options="loop: true, muted: false, position: 0% 0%" style="padding-bottom: 120px;">
                                     
				<div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 0% 0%;">
                                       <video autoplay="true" loop="" style="margin: auto; position: absolute; z-index: -1; top: 0%; left: 0%; transform: translate(0%, 0%); visibility: hidden; opacity: 0; width: auto; height: 602px;">
                                         <source src="{{ site.baseurl }}/assets/videos/everpay-intro.mp4" type="video/mp4">
                                         <source src="" type="video/webm">
                                      <source src="" type="video/ogg"></video>
                                  </div> 
					    
	<span class="mask mask-base-1--style-2 alpha-6"></span>
					    
   <div class="container container-lg slice--offset-top d-flex align-items-center mt-5">
        <!-- Content -->
<div class="col px-0 mt-5">
        <div class="row w-100">
		
          <div class="col-lg-5">
            
<h2 class="heading heading-xl strong-600 text-normal line-height-1_2 mt-5 mb-3">Scale And Secure Your Business</h2>
            <p class="lead mt-4 mb-5">
              <span class="text-primary">
                <strong class="u-text-animation u-text-animation--typing"></strong>
              </span>
             Connect with more customers and increase your bottom line with the only commerce platform that connects all major payment processors (in the US), credit, gift and debit cards, Echecks, and popular digital wallets like Apple Pay and Google Pay in a single, seamless integration.
            </p>

            <div class="d-flex align-items-center flex-wrap">
              <a class="btn btn-styled btn-white btn-circle" href="{{ site.baseurl }}/contact">Connect With Sales</a>

              <!-- Fancybox -->
              <a class="btn btn-styled btn-success btn-circle ml-5" href="{{ site.baseurl }}/signup">Get Started</a>
              <!-- End Fancybox -->
            </div>
		  
          </div>
        <!-- End Content -->
   <!-- SVG Background -->
        <div class="col-lg-9 col-xl-7 d-none d-lg-block position-absolute">
         
        </div>
		
         </div>
	
          </div>
        <!-- End intro -->
	   
</div> 
      </div>
	   
	   </div>
                </div>
                    </section>
