<!-- Hero Section -->
<section class="js-container background-image-holder">
<div class="swiper-container" data-swiper-autoplay="false" data-swiper-effect="slide" data-swiper-items="0" data-swiper-space-between="0">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="holder-item holder-item-light has-bg-cover bg-size-cover slice-video d-flex align-items-center" data-vide-bg="{{ site.baseurl }}/assets/videos/everpay-intro.mp4" data-vide-options="loop: true, muted: false, position: 0% 0%">
                                     <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 0% 0%;"><video autoplay="" loop="" style="margin: auto; position: absolute; z-index: -1; top: 0%; left: 0%; transform: translate(0%, 0%); visibility: hidden; opacity: 0; width: auto; height: 602px;"><source src="../../assets/media/video/broadwaycrew.mp4" type="video/mp4"><source src="../../assets/media/video/broadwaycrew.webm" type="video/webm">
                                      <source src="{{ site.baseurl }}/assets/videos/everpay-intro.ogv" type="video/ogg"></video>
                                      </div> 
                                        <span class="mask mask-base-1--style-2 alpha-6"></span>
                                        <div class="container container-lg slice--offset-top d-flex align-items-center mt-5">
                                            <div class="col px-0 mt-5">
                                                <div class="row justify-content-md-center w-100 mt-5">
                                                    <div class="col-md-10 text-center text-lg-center align-self-center mt-5">
                                                        <h2 class="heading heading-xl strong-600 text-normal line-height-1_2 animated mt-3 mb-3" data-animation-in="fadeInDownBig" data-animation-delay="200">
                                                           Secure And Scale Your Business
                                                        </h2>
                                                        <p class="lead animated mt-4 mb-5" data-animation-in="fadeInUpBig" data-animation-delay="200">
                                                            Everpay is an open payments company, focusing on simplifying payments and unifing big commerce under one single secure source.
                                                        </p>
                                                           <!-- Form -->
                <form class="js-validate mb-4 mt-3">
                  <div class="form-row mb-2">
                    <div class="col-sm-6 col-lg mb-2">
                      <div class="js-form-message">
                        <label class="sr-only" for="signupSrName">Name</label>
                        <div class="input-group input-group-borderless">
                          <input type="text" class="form-control" name="name" id="signupSrName" placeholder="Name" aria-label="Name" required
                                 data-msg="Name must contain only letters.">
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-lg mb-2">
                      <div class="js-form-message">
                        <label class="sr-only" for="signupSrPhone">Phone</label>
                        <div class="input-group input-group-borderless">
                          <input type="tel" class="form-control" name="phone" id="signupSrPhone" placeholder="Phone" aria-label="Phone" required
                                 data-msg="Phone number must contain only digits.">
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-lg mb-2">
                      <div class="js-form-message">
                        <label class="sr-only" for="signupSrEmail">Email</label>
                        <div class="input-group input-group-borderless">
                          <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Email" aria-label="Email" required
                                 data-msg="Please enter a valid email address.">
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-lg mb-3">
                      <button type="submit" class="btn btn-styled btn-lg btn-white btn-circle btn-outline animated" data-animation-in="fadeInUpBig" data-animation-delay="1000">Get Started</button>
                    </div>
                  </div>

                  <!-- Checkbox -->
                  <div class="js-form-message mb-5">
                    <div class="custom-control custom-checkbox text-muted">
                      <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required
                             data-msg="Please accept our Terms and Conditions.">
                      <label class="custom-control-label text-white" for="termsCheckbox">
                        <small>
                          * By clicking "Get Started", I agree to the
                          <a class="link-white" href="/terms.html">Terms and Conditions</a>
                        </small>
                      </label>
                    </div>
                  </div>
                  <!-- End Checkbox -->
                </form>
                <!-- End Form -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </section>
