<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->


  {% include head.html %}

<body>


<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

  <div id="site-header" class="header site-header everpayTopHeader-processed is-sticky" role="banner" aria-label="Site-Header">
    {% include header.html %}
  </div>
                  
<section class="slice slice--offset-top bg-base-1" style="padding-bottom: 250px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5">
                    <h3 class="heading display-4 strong-400 c-white">
                     {{ page.title }}
                    </h3>
                    <p class="text-lg line-height-1_8 c-white mt-4">
                    </p>                                   
                </div>
            </div>
        </div>
  
        <div class="shape-container" data-shape-fill="base-5" data-shape-position="bottom" style="height: 350px;">
            <svg class="shape-item" fill="" viewBox="0 0 1000 300" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0 246.131 C 0 246.131 31.631 250.035 47.487 249.429 C 65.149 248.755 82.784 245.945 99.944 241.732 C 184.214 221.045 222.601 171.885 309.221 166.413 C 369.892 162.581 514.918 201.709 573.164 201.709 C 714.375 201.709 772.023 48.574 910.547 21.276 C 939.811 15.509 1000 24.025 1000 24.025 L 1000 300.559 L -0.002 300.559 L 0 246.131 Z"></path>
            </svg>
        </div>
  
    </section>
                      
  {{ content }}
  
    {% include footer.html %}

  </body>

</html>
